.title {
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 16px;
    color: #fff;
  }
  &__main {
    color: #000;
    line-height: 1.2;
  }
  &__text,
  &__main {
    font-size: 28px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__text {
    text-transform: capitalize;
  }
  &__info {
    max-width: calc(100% - 65px);
  }
}

.chip__list {
  .chip {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.35);

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

}

.card {
  &__list {
    margin: 20px 0 50px;
    padding: 0 16px;

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      
      .item {
          --border-width: 5px;

          position: relative;
          flex: 1 1 calc(50% - 10px);
          border-radius: 10px;
          margin-bottom: 10px;
          border-width: var(--border-width);

          &:nth-child(2n+1) {
            margin-left: 10px;
          }
          &:first-child {
            margin-left: 0;
          }

          &.item-result {
            &:before {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              z-index: 0;
              // -webkit-filter: blur(3px);
              // -moz-filter: blur(3px);
              // -o-filter: blur(3px);
              // -ms-filter: blur(3px);
              // filter: blur(3px);
              background-position: center;
              background-size: 150%;
              background-image: url("@/assets/images/1033032.png");
              content: "";
            }

            &:after {
              position: absolute;
              content: "";
              top: calc(-1 * var(--border-width));
              left: calc(-1 * var(--border-width));
              z-index: -1;
              width: calc(100% + var(--border-width) * 2);
              height: calc(100% + var(--border-width) * 2);
              background: linear-gradient(
                60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%)
              );
              background-size: 300% 300%;
              background-position: 0 50%;
              border-radius: calc(2 * var(--border-width));
              animation: moveGradient 4s alternate infinite;
            }

            .card__wrap {
              z-index: 1;
              position: relative;
            }
          }
          
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;

    border-radius: 10px;
    padding: 15px 0;

    .thumbnail {
      transform: scale(2);
    }

    .title {
      &__top {
        flex: 1 1 auto;
      }
      &__text {
        font-size: 22px;
      }
    }

    .chip {
      padding: 3px 8px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}

.category {
  &-card {
    &__list {
      .card__list-wrap {
        .item {
          &:first-child {
            margin-left: 0;
            flex: 1 1 100%;
            .card__wrap {
              min-height: 120px;
            }
          }
        }
      }
      .card__wrap {
        padding: 5px 0;
        min-height: 100px;
        .title__top {
          justify-content: flex-end;
        }
      }
    }
  }
}

.search {
  margin-top: 15px;
  input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
    display: block;
    padding-left: 78px;
  }
  button {
    position: absolute;
    margin-left: 5px;
    height: 32px;
    padding: 5px 10px;
  }
}

.article {
  &__container {
    padding: 0 16px 50px 16px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    
    h2 {
      font-size: 20px;
      font-weight: 700;
    }

    a {
      color: rgb(36, 167, 255);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__item {
    &:not(:first-child) {
      margin-top: 12px;
      border-top: 1px solid #e8e8e8;
      padding-top: 12px;
    }
    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: top;
    }
  }
  &__content {
    .details {
      h3 {
        font-size: 18px;
        font-weight: 700;
      }
      .duration {
        color: #ccc;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .thumb {
      .thumb-overlay {
        max-width: 150px;
        border-radius: 15px;
        overflow: hidden;
      }
      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

.ico {
  font-size: 20px;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}